#container-fluid-titulo-serviços{
    
    
}
#row-titulo-serviços{

}
#jumbotrom-title{
    margin-bottom:-5px;
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
hr{ 
    margin-top: -7px;
}
footer{
    background-color: #2f2f2f;
    color: #ffffff; 
}
ul{
    list-style: none;
}
.redes li { 
    margin-right: 40px;
    display: inline;
}
.redes li a {
    color: white;
}
.menutitulo{
    margin-top: 10px;
}
.menutitulo li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-left: #ffffff solid thin 
}
.menutitulo a{
    text-decoration: none;
    color:#ffffff;
}
.sevices a{
    text-decoration: none;
    color:#333333;
}
.fluid{
    color: white;
    background-color: #333333;
}
.hvr-underline-from-left:before{
    background: #1abc9c;
}





/*coming sson*/
.body-comingsson{
    background: #1abc9c;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}